<section class="container">
  <div class="hero">
    <div class="hero__body">
      <h1 class="hero__body__header">Star Wars</h1>
      <h2>May the Force be with you!</h2>
    </div>
    <div class="hero__links">
      <div class="hero_links__list">
        <a routerLink="people" routerLinkActive="active" class="hero_links__list__item-link">
          Meet the People
        </a>
        <a routerLink="planets" routerLinkActive="active" class="hero_links__list__item-link">
          Explore the Planets
        </a>
      </div>
    </div>
  </div>
</section>