/* Variables*/
$color-dark-blue: #120940;
$color-dark-blue-transparent: rgba(18, 9, 64, 0.7);
$color-yellow: #ffe81f;
$color-light: #f3f3f3;
$font-star-wars: "SF Distant Galaxy";
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;