/* Variables*/
$color-dark-blue: #120940;
$color-dark-blue-transparent: rgba(21, 9, 83, 0.5);
$color-yellow: #ffe81f;
$color-red: #ff0000;
$color-light: #f3f3f3;
$color-light-transparent: rgb(243, 243, 243);
$font-star-wars: "SF Distant Galaxy";
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;