.team{
  padding: 1em;
}
.Atlantic {
  color: #f8e2cf;
}
.Central {
  color: #f4e79f;
}
.Southeast {
  color: #d7f5e7;
}
.Northwest {
  color: #aaf7b9;
}
.Pacific {
  color: #eeb7e2;
}
.Southwest {
  color: #f9c3c3;
}
