.navbar {
  background-color: black;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;

  .brand__title {
    color: #ffffff;
    margin-left: 20px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500; 
    
    a {
      padding: 3px 3px;
      text-decoration: none;
      color: #ffffff;
    }
    
    a:hover {
      color: #dad7d7
    }
  }
  
  ul {
    overflow: hidden;
    font-weight: 500;
    li {
      float: left;
      list-style: none;
      margin: 13px 1px;
      a {
        padding: 23px 13px;
        text-decoration: none;
        color: #ffffff;
      }  
      a:hover {
        color: #dad7d7;
      }
    }
  }
}
.active {
  background-color: red;
}

@media only screen and (max-width: 770px) {
  .navbar {
    flex-direction: column;
    padding: 0 2px;
    .brand__title {
      margin-left: 0px;
      font-size: 20px;
      letter-spacing: 3px;
      margin: 0.5em 0.2em;
    }
    ul {
      padding-inline-start: 0;
      li {
        margin: 5px 1px;
        a {
          padding: 13px 13px;
        }
      }
    }
  }
}