<main class="planets">
  <div class="fade"></div>
  <section class="star-wars">
    <div class="crawl">
      <div class="title">
        <p>STAR WARS APP</p>
        <h1>Made by Zoran Karbev</h1>
      </div>
      <p>
        A long time ago in a galaxy far, far, far away... It is a period of civil war.
      </p>
      <p>
        Rebel Angular spaceships, striking from a hidden base, have won their first victory against the evil React
        Empire.
      </p>

      <p>During the battle, many Angular spies managed to steal secret plans of the DEATH STAR, the React Empire’s
        ultimate weapon, an armored space station with enough power to destroy an entire planet.</p>

      <p>Pursued by the React Empire’s sinister agents, Princess Leia races home aboard her starship, custodian of the
        stolen plans that can save her people and restore freedom to the galaxy….
      </p>
    </div>
  </section>
</main>